{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}

<div id="access_table">
  <label>{{msg}}</label><br />
  <label>'관리자 로그인' NFC 태그 혹은 연결된 키보드로 로그인 하세요.</label>
  <form action="../manager_login/" method="POST">
    {% csrf_token %}
    <table style="margin: auto;">
      <tr>
        <td>
          <label for="username">아이디 : </label>
        </td>
        <td>
          <input
            id="username"
            type="text"
            name="username"
            placeholder="아이디"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">비밀번호 : </label>
        </td>
        <td>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="비밀번호"
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="로그인" />
        </td>
      </tr>
    </table>
  </form>
</div>

<script>
  let warn_cnt = 0;
  let itv = setInterval(function () {
    $.ajax({
      url: "../watch",
      success: function (data) {
        alert("성공적으로 로그인 되었습니다.");
        location.href = "../setting";
      },
      error: function (data) {
        warn_cnt++;
        clearInterval(itv);
        if (warn_cnt > 5) {
          alert(
            "nfc 로그인에 문제가 생겼습니다. 키보드를 통한 로그인만 가능합니다."
          );
        } else {
          alert(
            "nfc 로그인 중 문제가 발생했습니다. \n 5초 후에 다시 nfc 로그인을 시도합니다."
          );
          setTimeout(itv, 3000);
        }
      },
    });
  }, 1000);
</script>

{% endblock %}
