{% extends 'base.html' %}{% block content %}
<style>
  .main_header {
    height: 50px;
  }
  #userInfo {
    float: left;
  }
  #help {
    float: right;
  }
  aside {
    float: left;
    width: 300px;
    height: 300px;
  }
  #record_area {
    float: left;
    margin-left: 20px;
    width: 200px;
    height: 300px;
  }
  section {
    float: right;
    width: 350px;
    height: 300px;
  }
  section > * {
    margin: auto;
  }

  input {
    width: 200px;
  }
  #workingTime,
  #workingCount {
    margin: auto;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
  }
  #workingCount > table {
    margin: auto;
    text-align: center;
  }
  footer {
    clear: both;
  }
</style>
<div id="container">
  <header class="main_header">
    <div id="userInfo">
      <span id="username">'{{username}}'님 환영합니다.</span>
      {% if role != "USER"%}
      <a class="btn btn-secondary" href="{% url 'manager_logout' %}"
        >관리자 로그아웃</a
      >
      {% endif %}
    </div>
    <div id="help">
      <span>{{machine_name}}</span>
      <button class="btn btn-secondary">기구 설명 확인하기</button>
    </div>
  </header>
  <aside>
    <button onclick="set_machine_record('machine')" class="btn btn-secondary">
      기구 사용 기록
    </button>
    <button onclick="set_machine_record('today')" class="btn btn-secondary">
      오늘 운동 기록
    </button>
    <div>
      <ul id="past_record" class="list-unstyled">
        <span>운동 기록을 보기 위해 버튼을 누르세요</span>
      </ul>
    </div>
  </aside>
  <div id="record_area">
    <ul id="worked_list" class="list-unstyled"></ul>
  </div>
  <section>
    <a class="btn btn-secondary" href="{% url 'working_set' %}"
      >운동 목표 설정하기</a
    >
    <div id="workingCount">
      <table>
        <tr>
          <td><label id="cur_set"></label></td>
          <td>
            <span id="workingTime">00:00:00</span>
          </td>
        </tr>
        <tr>
          <th>목표</th>
          <th>현재</th>
        </tr>
        <tr>
          <td>
            <label id="pur_cnt" type="number" name="pur_cnt">0</label>
          </td>
          <td>
            <label id="cur_cnt" type="number" name="cur_cnt">
              {% if value %} {{ value }} {% else %} 0 {% endif %}
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input
              style="width: 150px;"
              id="btn_set_toggle"
              type="button"
              class="btn btn-secondary"
              value="세트 시작"
              onclick="set_toggle()"
            />
          </td>
          <td>
            <button
              style="width: 150px;"
              type="submit"
              class="btn btn-secondary"
              onclick="finish_work()"
            >
              사용 종료
            </button>
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
<script>
  let cur_set = 0;
  let timeIntervalId;
  let s_time = 0;
  let e_time = 0;

  let set_list = JSON.parse(sessionStorage.getItem("set_list"));

  console.log(typeof set_list);
  set_list.forEach((element) => {
    console.log(element);
  });

  today_list = [];
  before_list = [];

  let count_interval;
  function count_up() {
    count_interval = setInterval(function () {
      $.getJSON("/rasp_server/check", function (data) {
        let n_cnt = Number(data["cnt"]);
        let cur_cnt = Number($("#cur_cnt").text());
        console.log(n_cnt);
        console.log(cur_cnt);
        if (cur_cnt != n_cnt) {
          $("#cur_cnt").text(n_cnt);
        }
      });
    }, 1000);
  }

  function count_stop() {
    clearInterval(count_interval);
    $.getJSON("/rasp_server/count_clear", function (data) {
      console.log(data);
    });
  }

  function timer_start() {
    time = document.getElementById("workingTime").innerText;
    timeIntervalId = setInterval(function () {
      workingTime.innerText = time;
      time_sep = time.split(":");
      hour = Number(time_sep[0]);
      minute = Number(time_sep[1]);
      second = Number(time_sep[2]);
      time = timer_go(hour, minute, second);
    }, 999);
  }
  function timer_go(hour, minute, second) {
    second = second + 1;
    if (second == 60) {
      minute += 1;
      second = 0;
    }
    if (minute == 60) {
      hour += 1;
      minute = 0;
    }
    if (hour < 10) hour = "0" + hour;
    if (minute < 10) minute = "0" + minute;
    if (second < 10) second = "0" + second;

    return hour + ":" + minute + ":" + second;
  }

  function set_toggle() {
    btn_value = document.getElementById("btn_set_toggle");
    if (btn_value.value == "세트 시작") {
      // 시작
      if (set_list == null) {
        alert("운동 목표를 먼저 설정하세요");
        location.href = "{% url 'working_set' %}";
      }
      if (cur_set == set_list.length) {
        alert("목표한 운동을 모두 마쳤습니다!");
        return;
      }

      ////////// 최초 시작 시간 정하기
      s_time = new Date().toISOString();
      console.log(s_time);

      cur_set += 1;
      document.getElementById("cur_set").innerText =
        set_list[cur_set - 1].set_cnt +
        "세트   " +
        set_list[cur_set - 1].weight +
        "kg";
      document.getElementById("pur_cnt").innerText = set_list[cur_set - 1].cnt;
      timer_start();
      count_up();
      btn_value.value = "세트 종료";
    } else {
      // 종료
      count_stop();
      clearInterval(timeIntervalId);

      ////////// 종료 시간 정하기
      e_time = new Date().toISOString();
      console.log(e_time);

      today_list.push({
        time: document.getElementById("workingTime").innerText,
        set_cnt: document.getElementById("cur_set").innerText,
        cnt: document.getElementById("cur_cnt").innerText,
        startTime: s_time,
        endTime: e_time,
      });

      worked_list = document.getElementById("worked_list");

      let i = today_list.length - 1;
      let li = document.createElement("li");
      li.innerText =
        today_list[i]["time"] +
        " " +
        today_list[i]["set_cnt"] +
        " " +
        today_list[i]["cnt"] +
        " 회";
      worked_list.appendChild(li);

      // 시간 초기화
      document.getElementById("workingTime").innerText = "00:00:00";
      //
      btn_value.value = "세트 시작";
    }
  }

  function set_machine_record(btn_name) {
    ul = $("#past_record");
    ul.empty();

    $.ajax({
      url: "/rasp_server/past_record/" + btn_name,
      success: function (data) {
        let cnt = 0;
        data.record_list.some(function (record) {
          cnt++;
          let li_str_header = "";
          if (btn_name == "machine") {
            li_str_header = record.startTime.split("T")[0] + " \n ";
          } else {
            li_str_header = record.machine_name + " \n";
          }
          li = document.createElement("li");
          li_str =
            li_str_header +
            record.startTime.split("T")[1].split(".")[0] +
            " ~ " +
            record.endTime.split("T")[1].split(".")[0] +
            " " +
            record.sett +
            "세트 " +
            record.weight +
            "kg " +
            record.countt +
            "회 ";
          li.innerText = li_str;
          li.setAttribute("style", "font-size: 15px; margin: 7px;");
          ul.append(li);
          if (cnt == 5) return true;
        });
      },
    });
  }

  function finish_work() {
    $.ajax({
      url: "/rasp_server/finish_work/",
      method: "POST",
      data: { today_list: today_list, size: today_list.length },
      success: function (data) {
        if (data.result) {
          alert(data.msg);
          location.href = "{% url 'user_login' %}";
        } else {
          alert(data.msg);
        }
      },
    });
  }
</script>
{% endblock %}
