{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}
<!--관리자만 접근 가능-->
<!--디바이스 최초 설치 시 설정페이지-->

<div>
  <a class="btn btn-secondary" href="{% url 'renew_machines' %}"
    >기구 리스트 받아오기</a
  >
  <a class="btn btn-secondary" href="{% url 'manager_logout' %}"
    >관리자 로그아웃</a
  >
</div>
<p>{{msg}}</p>
<ul class="list-unstyled">
  {% for machine in machine_list %}
  <li>
    <a
      class="btn btn-secondary"
      href="{% url 'selected' machine.machine_name %}"
      >{{machine.machine_name}}</a
    >
  </li>
  {% endfor %}
</ul>
{% endblock %}
