{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}

<label>운동 목표 설정</label>
<table style="margin: auto;">
  <tbody id="table_body">
    <tr>
      <th>
        세트
      </th>
      <th>
        세트 당 개수
      </th>
      <th>
        무게(kg)
      </th>
    </tr>
    <tr>
      <td>
        1 세트
      </td>
      <td>
        <input id="cnt1" name="cnt1" type="number" value="10" />
        <button onclick="up_cnt('cnt1')">up</button>
        <button onclick="down_cnt('cnt1')">down</button>
      </td>
      <td>
        <input id="weight1" name="1" type="number" value="20" />
        <button onclick="up_weight('weight1')">up</button>
        <button onclick="down_weight('weight1')">down</button>
      </td>
    </tr>

    <tr id="btn_tr">
      <td></td>
      <td>
        <button onclick="add_set()" class="btn btn-secondary">세트 추가</button>
      </td>
      <td>
        <button onclick="set_complete()" class="btn btn-secondary">
          설정 완료
        </button>
      </td>
    </tr>
  </tbody>
</table>
<script>
  let set_max = 1;
  function up_cnt(pur_id) {
    pur_set = document.getElementById(pur_id);
    if (pur_set == null) return;
    pur_set.value = Number(pur_set.value) + 1;
  }

  function down_cnt(pur_id) {
    pur_set = document.getElementById(pur_id);
    if (pur_set == null) return;
    if (Number(pur_set.value) > 0) pur_set.value = Number(pur_set.value) - 1;
  }

  function up_weight(pur_id) {
    pur_set = document.getElementById(pur_id);
    if (pur_set == null) return;
    pur_set.value = Number(pur_set.value) + 5;
  }

  function down_weight(pur_id) {
    pur_set = document.getElementById(pur_id);
    if (pur_set == null) return;
    if (Number(pur_set.value) > 0) pur_set.value = Number(pur_set.value) - 5;
  }
  function add_set() {
    set_max += 1;

    tr = document.createElement("tr");
    label_td = document.createElement("td");
    cnt_td = document.createElement("td");
    weight_td = document.createElement("td");

    label_td.innerText = set_max + " 세트";

    cnt_input = document.createElement("input");
    cnt_input.setAttribute("id", "cnt" + set_max);
    cnt_input.setAttribute("type", "number");
    cnt_input.setAttribute("value", "10");

    up_btn = document.createElement("button");
    up_btn.setAttribute("onclick", "up_cnt('cnt" + set_max + "')");
    up_btn.innerHTML = "up";

    down_btn = document.createElement("button");
    down_btn.setAttribute("onclick", "down_cnt('cnt" + set_max + "')");
    down_btn.innerHTML = "down";

    cnt_td.appendChild(cnt_input);
    cnt_td.appendChild(up_btn);
    cnt_td.appendChild(down_btn);

    weight_input = document.createElement("input");
    weight_input.setAttribute("id", "weight" + set_max);
    weight_input.setAttribute("type", "number");
    weight_input.setAttribute("value", "20");

    up_btn = document.createElement("button");
    up_btn.setAttribute("onclick", "up_weight('weight" + set_max + "')");
    up_btn.innerHTML = "up";

    down_btn = document.createElement("button");
    down_btn.setAttribute("onclick", "down_weight('weight" + set_max + "')");
    down_btn.innerHTML = "down";

    weight_td.appendChild(weight_input);
    weight_td.appendChild(up_btn);
    weight_td.appendChild(down_btn);

    tr.appendChild(label_td);
    tr.appendChild(cnt_td);
    tr.appendChild(weight_td);

    input_table = document.getElementById("table_body");
    input_table.insertBefore(tr, input_table.childNodes[set_max + 2]);
  }

  function set_complete() {
    let set_list = [];
    for (let i = 1; i <= set_max; i++) {
      let cur_set = {
        set_cnt: i,
        cnt: document.getElementById("cnt" + i).value,
        weight: document.getElementById("weight" + i).value,
      };
      set_list.push(cur_set);
      console.log(set_list);
    }
  }
</script>
{% endblock %}
